# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

/.idea/

/google-credentials.json
/package-lock.json
/openapitools.json
/src/
!/src/.openapi-generator-ignore
!/src/expressServer.js
!/src/services/GoogleSheetService.js
!/src/services/CreatorService.js
!/src/services/PageService.js